/.qmake.stash
/Makefile
/*.o
/moc_*.cpp
/moc_*.o
/qrc_*.cpp
/moc_predefs.h
/remote-file-dtk2
/gxde-filetransfer
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/gxde-filetransfer/
/debian/tmp/
/*.build
/*.buildinfo
/*.changes
/*.deb
/*.dsc
/*.tar.*
/dtk2core/
/dtk2widget/
/gxde-file-manager/
