Source: gxde-filetransfer
Section: net
Priority: optional
Maintainer: GXDE Team <team@gxde.org>
Build-Depends: debhelper-compat (= 13), qt6-base-dev, qt6-tools-dev-tools, pkg-config, libdtk2widget6-dev, libdtk6core-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: gxde-filetransfer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl
Description: GXDE file transfer client
 A DTK-based file transfer client for browsing and transferring files over
 FTP, SFTP and WebDAV.
