[Desktop Entry]
Type=Application
Name=GXDE File Transfer
Name[zh_CN]=GXDE 文件传输工具
Comment=A simple and easy-to-use FTP, SFTP, WebDAV and WebDAVS client
Comment[zh_CN]=简单好用的 FTP, SFTP, WebDAV 和 WebDAVS 客户端
Exec=gxde-filetransfer
Icon=gxde-filetransfer
Terminal=false
Categories=Network;FileTransfer;FileManager;
